<body>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="mobile-nav-bar">
            <ul id="mobile-nav">
                <li><a href="./index.html" class="text-nowrap">Trang chủ</a></li>
                <li>
                    <a href="#">
                        Áo bóng đá<span class="icon-navbar"><i class="fas fa-sort-down"></i></span>
                        <ul class="mobile-subnav">
                            <li><a href="./countryfootball.html">Áo Đội Tuyển</a></li>
                            <li><a href="./clubfootbal.html">Áo Câu Lạc Bộ</a></li>
                        </ul>
                    </a>
                </li>
                <li><a href="./basketball.html">Áo bóng rổ</a></li>
                <li>
                    <a href="#">
                        Phụ kiện bóng đá<span class="icon-navbar"><i class="fas fa-sort-down"></i></span>
                        <ul class="mobile-subnav">
                            <li><a href="./ball.html">Bóng</a></li>
                            <li><a href="./gloves.html">Găng Tay Thủ Môn</a></li>
                        </ul>
                    </a>
                </li>
                <li><a href="./printordesign.html">Dịch vụ In ấn và thiết kế.</a></li>
                <li><a href="#">Liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="right-header text-white">
                <p><i class="far fa-clock"></i>7:00 - 17:00</p>
                <p><i class="fas fa-phone-volume icon-shake"></i>093-254-7683</p>
            </div>
        </div>
    </nav>
</body>