<body>
    <div class="nav-bar">
        <ul id="nav" class="container-fluid ">
            <li><a href="./index.html" class="text-nowrap">Trang chủ</a></li>
            <li>
                <a href="#">
                    Áo bóng đá<span class="icon-navbar"><i class="fas fa-sort-down"></i></span>
                    <ul class="subnav">
                        <li><a href="./countryfootball.html">Áo Đội Tuyển</a></li>
                        <li><a href="./clubfootbal.html">Áo Câu Lạc Bộ</a></li>
                    </ul>
                </a>
            </li>
            <li><a href="./basketball.html">Áo bóng rổ</a></li>
            <li>
                <a href="#">
                    Phụ kiện bóng đá<span class="icon-navbar"><i class="fas fa-sort-down"></i></span>
                    <ul class="subnav">
                        <li><a href="./ball.html">Bóng</a></li>
                        <li><a href="./gloves.html">Găng Tay Thủ Môn</a></li>
                    </ul>
                </a>
            </li>
            <li><a href="./printordesign.html">Dịch vụ In ấn và thiết kế.</a></li>
            <li><a href="#">Liên hệ</a>
            </li>
        </ul>
    </div>
</body>