<body>
    <div class="soccer-accessories-products">
        <h2>Bóng Đá</h2>
        <ul class="list-products">
            <div class="item">
                <img src="./assets/img/products/soccer accessories/ball/1.png" alt="" class="responsive">
                <div class="name">Bóng Động Lực 2.07 Spectro</div>
                <div class="price"><del>2.000.000</del>1.500.000</div>
                <button onclick="addToCart('Bóng Động Lực 2.07 Spectro', 1500000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/ball/2.png" alt="" class="responsive">
                <div class="name">Bóng Động Lực 2.07 Glaxy</div>
                <div class="price"><del>1.750.000</del>1.250.000</div>
                <button onclick="addToCart('Bóng Động Lực 2.07 Glaxy', 1250000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/ball/3.png" alt="" class="responsive">
                <div class="name">Bóng Động Lực 2.07</div>
                <div class="price"><del>1.500.000</del>1.000.000</div>
                <button onclick="addToCart('Bóng Động Lực 2.07', 1000000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/ball/5.png" alt="" class="responsive">
                <div class="name">Bóng Động Lực 1.02</div>
                <div class="price"><del>750.000</del>600.000</div>
                <button onclick="addToCart('Bóng Động Lực 1.02', 600000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/ball/6.png" alt="" class="responsive">
                <div class="name">Bóng Động Lực 2.05 Glaxy</div>
                <div class="price"><del>1.500.000</del>1.200.000</div>
                <button onclick="addToCart('Bóng Động Lực 2.05 Glaxy', 1200000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/ball/7.png" alt="" class="responsive">
                <div class="name">Bóng Động Lực 2.05</div>
                <div class="price"><del>1.250.000</del>1.000.000</div>
                <button onclick="addToCart('Bóng Động Lực 2.05 ', 1000000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/ball/8.png" alt="" class="responsive">
                <div class="name">Bóng Động Lực 3.05</div>
                <div class="price"><del>450.000</del>300.000</div>
                <button onclick="addToCart('Bóng Động Lực 3.05', 300000)" class="btn-buy">Mua ngay</button>
            </div>

        </ul>
    </div>
</body>