<body>
    <div class="basketball-products">
        <h2>Áo Bóng rổ</h2>
        <ul class="list-products">
            <div class="item">
                <img src="./assets/img/products/basketball/1.jpg" alt="" class="responsive">
                <div class="name">Áo Bóng Rổ Màu Nâu</div>
                <div class="price"><del>250.000</del>200.000</div>
                <button onclick="addToCart('Áo Bóng Rổ Màu Nâu', 200000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/basketball/3.jpg" alt="" class="responsive">
                <div class="name">Áo Bóng Rổ Màu Đỏ</div>
                <div class="price"><del>250.000</del>200.000</div>
                <button onclick="addToCart('Áo Bóng Rổ Màu Đỏ', 200000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/basketball/2.jpg" alt="" class="responsive">
                <div class="name">Áo Bóng Rổ Mẫu Tự Thiết Kế</div>
                <div class="price"><del>350.000</del>300.000</div>
                <button onclick="addToCart('Áo Bóng Rổ Tự Thiết Kế', 300000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/basketball/4.jpg" alt="" class="responsive">
                <div class="name">Áo Bóng Rổ Tự Thiết Kế</div>
                <div class="price"><del>350.000</del>300.000</div>
                <button onclick="addToCart('Áo Bóng Rổ Màu Nâu', 300000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/basketball/5.jpg" alt="" class="responsive">
                <div class="name">Áo Bóng Rổ Màu Đen</div>
                <div class="price"><del>250.000</del>200.000</div>
                <button onclick="addToCart('Áo Bóng Rổ Màu Đen', 200000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/basketball/6.jpg" alt="" class="responsive">
                <div class="name">Áo Bóng Rổ Màu Trắng</div>
                <div class="price"><del>250.000</del>200.000</div>
                <button onclick="addToCart('Áo Bóng Rổ Màu Trắng', 200000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/basketball/7.jpg" alt="" class="responsive">
                <div class="name">Áo Bóng Rổ Tự Thiết Kế 2022</div>
                <div class="price"><del>250.000</del>150.000</div>
                <button onclick="addToCart('Áo Bóng Rổ Tự Thiết Kế', 300000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/basketball/8.jpg" alt="" class="responsive">
                <div class="name">Áo Bóng Rổ Màu Hồng</div>
                <div class="price"><del>250.000</del>200.000</div>
                <button onclick="addToCart('Áo Bóng Rổ Màu Hồng', 200000)" class="btn-buy">Mua ngay</button>
            </div>
        </ul>
    </div>
</body>