<body>
    <div class="club-products">
        <h2>Áo Câu Lạc Bộ</h2>
        <ul class="list-products">
            <div class="item">
                <img src="./assets/img/products/football/club/Ajax_Around.jpg" alt="" class="responsive">
                <div class="name">Ajax Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Ajax Sân Khách', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/club/Ajax_Home.jpg" alt="" class="responsive">
                <div class="name">Ajax Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Ajax Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/club/Al_Nass_Aroundr.jpg" alt="" class="responsive">
                <div class="name">Al_Nass Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Al Nass Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/club/Al_Nass_Home.jpg" alt="" class="responsive">
                <div class="name">Al_Nass Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Al Nass Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/club/Aletico_Madrid_Around.jpg" alt="" class="responsive">
                <div class="name">Atletico Madrid Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Atletico Madrid Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/club/Aletico_Madrid__Home.jpg" alt="" class="responsive">
                <div class="name">Aletico Madrid Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Atletico Madrid Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/club/Asernal_Around.jpg" alt="" class="responsive">
                <div class="name">Asernal Madrid Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Asernal Sân Khách', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/club/Arsenal_Home.jpg" alt="" class="responsive">
                <div class="name">Asernal Madrid Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Asernal Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/club/Bayern_Munich_Around.jpg" alt="" class="responsive">
                <div class="name">Bayern Munich Madrid Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Bayern Munich Sân Khách', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/club/Bayern_Munich_Home.jpg" alt="" class="responsive">
                <div class="name">Bayern Munich Madrid Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Bayern Munich Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/club/Inter_Miami_Around.jpg" alt="" class="responsive">
                <div class="name">Inter Miami Madrid Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Inter Miami Sân Khách', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/club/Inter_Miami_Home.jpg" alt="" class="responsive">
                <div class="name">Inter Miami Madrid Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Inter Miami Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/club/Manchester_United_Around.jpg" alt="" class="responsive">
                <div class="name">Manchester United Madrid Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Manchester United Sân Khách', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/club/Manchester_United_Home.jpg" alt="" class="responsive">
                <div class="name">Manchester United Madrid Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Manchester United Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/club/PSG_Around.jpg" alt="" class="responsive">
                <div class="name">Paris Saint Geamain Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Paris Saint Geamain Sân Khách', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/club/PSG_Home.jpg" alt="" class="responsive">
                <div class="name">Paris Saint Geamain Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Paris Saint Geamain Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/club/Real_Mardrid_Around.jpg" alt="" class="responsive">
                <div class="name">Real Mardrid Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Real Madrid Sân Khách', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/club/Real_Madrid_Home.jpg" alt="" class="responsive">
                <div class="name">Peal Madrid Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Real Madrid Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/club/Tottenham_Around.jpg" alt="" class="responsive">
                <div class="name">Tottenham Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tottenham Sân Khách', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/club/Tottenham_Home.jpg" alt="" class="responsive">
                <div class="name">Tottenham Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tottenham Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>
        </ul>
    </div>
</body>