<body>
    <div class="country-products">
        <h2>Áo Đội Tuyển</h2>
        <ul class="list-products">
            <div class="item">
                <img src="./assets/img/products/football/country/Agrentina_Around.jpg" alt="" class="responsive">
                <div class="name">Tuyển Agrentina Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Agrentina Sân Khách', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/country/Agrentina_Home.jpg" alt="" class="responsive">
                <div class="name">Tuyển Agrentina Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Agrentina Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/country/America_New.jpg" alt="" class="responsive">
                <div class="name">Tuyển Mỹ Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Mỹ Sân Khách', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/country/America__Home.jpg" alt="" class="responsive">
                <div class="name">Tuyển Mỹ Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Mỹ Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/country/Brazil_Around.jpg" alt="" class="responsive">
                <div class="name">Tuyển Brazil Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Brazil Sân Khách', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/country/Brazil_Home.jpg" alt="" class="responsive">
                <div class="name">Tuyển Brazil Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Brazil Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/country/Cameroon_Around.jpg" alt="" class="responsive">
                <div class="name">Tuyển Cameroon Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Cameroon Sân Khách', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/country/Cameroon_HOme.jpg" alt="" class="responsive">
                <div class="name">Tuyển Cameroon Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Cameroon Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/country/Englang__Around.jpg" alt="" class="responsive">
                <div class="name">Tuyển Anh Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Anh Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/country/Englang__HOme.jpg" alt="" class="responsive">
                <div class="name">Tuyển Anh Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Anh Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/country/Iran_Around.jpg" alt="" class="responsive">
                <div class="name">Tuyển Iran Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Iran Sân Khách', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/country/Iran__Home.jpg" alt="" class="responsive">
                <div class="name">Tuyển Iran Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Iran Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>


            <div class="item">
                <img src="./assets/img/products/football/country/Japan__Around.jpg" alt="" class="responsive">
                <div class="name">Tuyển Nhật Bản Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Nhật Bản Khách', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/country/Japan__HOme.jpg" alt="" class="responsive">
                <div class="name">Tuyển Nhật Bản Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Nhật Bản Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/country/Mexico_Around.jpg" alt="" class="responsive">
                <div class="name">Tuyển Mexico Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Mexico Sân Khách', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/country/Mexico_Home.jpg" alt="" class="responsive">
                <div class="name">Tuyển Mexico Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Mexico Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/country/Uruquay_Around.jpg" alt="" class="responsive">
                <div class="name">Tuyển Uruquay Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Uruquay Sân Khách', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/country/Uruquay__Home.jpg" alt="" class="responsive">
                <div class="name">Tuyển Uruquay Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Uruquay Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/country/VN_Around.jpg" alt="" class="responsive">
                <div class="name">Tuyển Việt Nam Sân Khách</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Việt Nam Sân Khách', 150000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/football/country/VN_Home.jpg" alt="" class="responsive">
                <div class="name">Tuyển Việt Nam Sân Nhà</div>
                <div class="price"><del>200.000</del>150.000</div>
                <button onclick="addToCart('Tuyển Việt Nam Sân Nhà', 150000)" class="btn-buy">Mua ngay</button>
            </div>
        </ul>
    </div>
</body>