<body>
    <div class="soccer-accessories-products">
        <h2>Phụ kiện bóng đá</h2>
        <h3>Bóng và Găng Tay Thủ Môn. Ngoài ra còn có thêm cặp đeo chéo (Đang hết hàng).</h3>
        <ul class="list-products">
            <div class="item">
                <img src="./assets/img/products/soccer accessories/ball/1.png" alt="" class="responsive">
                <div class="name">Bóng Động Lực 2.07 Spectro</div>
                <div class="price"><del>2.000.000</del>1.500.000</div>
                <button onclick="addToCart('Bóng Động Lực 2.07 Spectro', 1500000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/ball/2.png" alt="" class="responsive">
                <div class="name">Bóng Động Lực 2.07 Glaxy</div>
                <div class="price"><del>1.750.000</del>1.250.000</div>
                <button onclick="addToCart('Bóng Động Lực 2.07 Glaxy', 1250000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/ball/3.png" alt="" class="responsive">
                <div class="name">Bóng Động Lực 2.07</div>
                <div class="price"><del>1.500.000</del>1.000.000</div>
                <button onclick="addToCart('Bóng Động Lực 2.07', 1000000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/ball/5.png" alt="" class="responsive">
                <div class="name">Bóng Động Lực 1.02</div>
                <div class="price"><del>750.000</del>600.000</div>
                <button onclick="addToCart('Bóng Động Lực 1.02', 600000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/ball/6.png" alt="" class="responsive">
                <div class="name">Bóng Động Lực 2.05 Glaxy</div>
                <div class="price"><del>1.500.000</del>1.200.000</div>
                <button onclick="addToCart('Bóng Động Lực 2.05 Glaxy', 1200000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/ball/7.png" alt="" class="responsive">
                <div class="name">Bóng Động Lực 2.05</div>
                <div class="price"><del>1.250.000</del>1.000.000</div>
                <button onclick="addToCart('Bóng Động Lực 2.05 ', 1000000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/ball/8.png" alt="" class="responsive">
                <div class="name">Bóng Động Lực 3.05</div>
                <div class="price"><del>450.000</del>300.000</div>
                <button onclick="addToCart('Bóng Động Lực 3.05', 300000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/glove/1.png" alt="" class="responsive">
                <div class="name">Găng Nike Match Màu cam Đen</div>
                <div class="price"><del>300.000</del>250.000</div>
                <button onclick="addToCart('Găng Nike Match Màu Cam Đen', 2500000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/glove/2.png" alt="" class="responsive">
                <div class="name">Găng Nike Match Màu Xanh Chuối</div>
                <div class="price"><del>300.000</del>250.000</div>
                <button onclick="addToCart('Găng Nike Match Màu Xanh Chuối', 2500000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/glove/3.png" alt="" class="responsive">
                <div class="name">Găng Adidas Predator Màu Trắng Đen</div>
                <div class="price"><del>300.000</del>250.000</div>
                <button onclick="addToCart('Găng Adidas Predator Màu Trắng Đen', 2500000)" class="btn-buy">Mua
                    ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/glove/4.png" alt="" class="responsive">
                <div class="name">Găng Nike Match Màu Trắng Hồng</div>
                <div class="price"><del>300.000</del>250.000</div>
                <button onclick="addToCart('Găng Nike Match Màu Trắng Hồng', 2500000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/glove/6.png" alt="" class="responsive">
                <div class="name">Găng Nike Vapor Grip Màu Trắng</div>
                <div class="price"><del>1.300.000</del>950.000</div>
                <button onclick="addToCart('Găng Nike Vapor Grip Màu Trắng', 9500000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/glove/7.png" alt="" class="responsive">
                <div class="name">Găng Nike Vapor Grip Màu Trắng Đen</div>
                <div class="price"><del>1.300.000</del>950.000</div>
                <button onclick="addToCart('Găng Nike Vapor Grip Màu Trắng Đen', 9500000)" class="btn-buy">Mua
                    ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/glove/8.png" alt="" class="responsive">
                <div class="name">Găng Nike Bioalign Màu Xám</div>
                <div class="price"><del>1.7500.000</del>1.450.000</div>
                <button onclick="addToCart('Găng Nike Bioalign Màu Xám', 1450000)" class="btn-buy">Mua ngay</button>
            </div>

            <div class="item">
                <img src="./assets/img/products/soccer accessories/glove/9.png" alt="" class="responsive">
                <div class="name">Găng Reusch Ergonomic Xanh Chuối</div>
                <div class="price"><del>1.7500.000</del>1.450.000</div>
                <button onclick="addToCart('Găng Reusch Ergonomic Xanh Chuối', 1450000)" class="btn-buy">Mua
                    ngay</button>
            </div>
        </ul>
    </div>
</body>