<body>
    <div class="banner container-fluid ">
        <div class="box-left col-12 col-lg-7">
            <h2>
                <span>ÁO BÓNG ĐÁ CLB, ĐỘI TUYỂN, BÓNG RỔ</span>
                <br>
                <span> BÓNG CHUYỀN</span>
            </h2>
            <p>Chuyên cung cấp các áo quần, phụ kiện thể đảm bảo chất lượng,
                <br>.Thiết kế và sản xuất theo yêu cầu.
            </p>
            <button>Mua ngay</button>
        </div>
        <div class="box-right col-md-5 d-none d-md-block p-2">
            <img src="./assets/img/banner/clb_football.jpg" alt="" width="450px" height="200px" class="responsive">
            <img src="./assets/img/banner/my_team_football.jpg" alt="" width="450px" height="200px" class="responsive">
            <img src="./assets/img/banner/countryfootball.jpg" alt="" width="450px" height="200px" class="responsive">
        </div>
    </div>
</body>