<body>
    <div class="brands">
        <div class="brands-img">
            <img src="./assets/img/brands/1.jpg" alt="" class="responsive">
            <p>Giá cả hợp lý</p>
        </div>
        <div class="brands-img">
            <img src="./assets/img/brands/2.png" alt="" class="responsive">
            <p>Ưu đãi giảm giá</p>
        </div>
        <div class="brands-img">
            <img src="./assets/img/brands/3.jpg" alt="" class="responsive">
            <p>Miễn phí in ấn</p>
        </div>
        <div class="brands-img">
            <img src="./assets/img/brands/4.jpg" alt="" class="responsive">
            <p>Miễn phí thiết kế</p>
        </div>
        <div class="brands-img">
            <img src="./assets/img/brands/5.png" alt="" class="responsive">
            <p>Miễn phí ship</p>
        </div>
        <div class="brands-img">
            <img src="./assets/img/brands/6.jpg" alt="" class="responsive">
            <p>Quà Tặng Rực Rỡ</p>
        </div>
    </div>
</body>