<body>
    <div class="information">
        <div id="contact" class="content-section">
            <h1 class="section-heading">Liên Hệ Với Shop</h1>
            <div class="row contact-content">
                <div class="col col-half contact-form">
                    <form action="#successModal" method="POST">
                        <h3>Liên hệ In Ấn</h3>
                        <div class="row">
                            <div class="col col-full">
                                <input type="text" name="customer_name" placeholder="Họ và Tên" required
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-full">
                                <input type="number" name="telephone_number" placeholder="Số điện thoại" required
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-full">
                                <input type="text" name="customer_address" placeholder="Địa chỉ" required
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-half">
                                <input type="text" name="shirt_size" placeholder="Số muốn In" required
                                    class="form-control">
                            </div>
                            <div class="col col-half">
                                <input type="text" name="shirt_text" placeholder="Tên muốn In" required
                                    class="form-control">
                            </div>
                        </div>
                        <input class="pull-right form-submit-btn mt-16" type="submit" value="Gửi Yêu Cầu">
                    </form>
                </div>
                <div class="col col-half contact-form">
                    <form action="#successModal" method="POST">
                        <h3>Liên hệ thiết kế</h3>
                        <div class="row">
                            <div class="col col-full">
                                <input type="text" name="customer_name" placeholder="Name" required
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-full">
                                <input type="number" name="telephone_number" placeholder="Số điện thoại" required
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-full">
                                <input type="text" name="customer_address" placeholder="Địa chỉ" required
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-full">
                                <input type="text" name="design_request" placeholder="Yêu cầu thiết kế" required
                                    class="form-control">
                            </div>
                        </div>
                        <input class="pull-right form-submit-btn mt-16" type="submit" value="Gửi Yêu Cầu">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="successModal" class="modal" onclick="closeModal()">
        <div class="modal-content">
            <span class="close-btn" onclick="closeModal()">&times;</span>
            <h3>Yêu cầu của bạn đã được gửi thành công!</h3>
            <p>Cảm ơn bạn đã tin tưởng và ghé thăm shop của chúng tôi.</p>
        </div>
    </div>
    <div id="overlay" class="overlay" onclick="closeModal()"></div>
</body>