<body>
    <div class="app-footer p-4">
        <div class="footer-box">
            <h3 class="information-name">Thanh Tú Store - <span>Luôn đem lại cảm giác tuyệt vời nhất cho bạn.</span>
            </h3>
            <p class="information-text">Hotline: 093.254.7683</p>
            <p class="information-text"><b>Shop 1</b>: 304 Bạch Đằng, thành phố Huế</p>
            <p class="information-text"><b>Shop 2</b>: Đang xây dựng, các bạn chờ đợi trong tương lai nhá.</p>
        </div>
        <div class="footer-box">
            <h3>Giới thiệu về cửa hàng</h3>
            <ul class="quick-menu">
                <div class="item">
                    <p>Thương hiệu mang đậm chất bóng đá, phục vụ niềm đam mê bóng đá với những mẫu áo mới và đẹp nhất.</p>
                </div>
                <div class="item">
                    <p>Ngoài ra, còn nhận và thiết kế mẫu áo theo yêu cầu từ khách hàng.</p>
                </div>
                <div class="item">
                    <p>Hàng được may trực tiếp tại cơ sở sản xuất nên sẽ được kiểm tra kỹ trước khi bán.</p>
                </div>
                <div class="item">
                    <p>Luôn đáp ứng đúng 4 tiêu chí: Nhanh - Đẹp - Bền - Ngầu</p>
                </div>
            </ul>
        </div>
        <div class="footer-box">
            <h4>LIÊN HỆ VỚI SHOP BẰNG</h4>
            <div class="information-icons">
                <a href="#"><span class="icon1"><i class="fa-brands fa-facebook-f"></i></span></a>
                <a href="#"><span class="icon3"><i class="fa-brands fa-instagram"></i></span></a>
                <a href="#"><span class="icon4"><i class="fa-brands fa-youtube"></i></span></a>
                <a href="#"><span class="icon2"><i class="fa-brands fa-twitter"></i></span></a>
            </div>
        </div>
    </div>
</body>