<body>
    <div class="app-header">
        <div class="left-header">
            <div class="gap-left d-none d-xl-block">
                <a href="" class="font-icons">
                    <img src="./assets/img/header/logo.png" alt="Ảnh lỗi">
                    <p class="text-color">𝓕𝓸𝓸𝓽𝓫𝓪𝓵𝓵</p>
                </a>
            </div>
            <div class="gap-right">
                <h2 class="text-nowrap">Thanh Tú Store</h2>
                <p>Play like a champion</p>
            </div>
        </div>
        <div class="center-header">
            <div class="justify-content-center">
                <div class="searchbar">
                    <input class="search_input" type="text" name="" placeholder="Search..." onkeyup="onSearch()">
                    <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
        <div class="right-header text-nowrap d-none d-xl-flex">
            <p><i class="far fa-clock"></i>7:00 - 17:00</p>
            <p><i class="fas fa-phone-volume icon-shake"></i>093-254-7683</p>
        </div>
    </div>
</body>