* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Prompt, sans-serif !important;
}

#container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, max(200px, 1fr));
}

.app-header {
    background-color: #F4FEFD;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.left-header {
    display: flex;
    align-items: center;
    width: 30%;
    height: 100px;
    justify-content: space-between;
}

.left-header .gap-left {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100px;
    font-size: 25px;
    transform: translateY(0px);
    animation: float 6s ease-out infinite;
    width: 30%;
    height: 100px;
}

@keyframes float {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-60px);
    }

    100% {
        transform: translateY(0);
    }

}

.left-header .gap-left a {
    display: grid;
    grid-template-columns: 30% 70%;
}

.left-header .gap-left .font-icons {
    color: #1B2223;
}

.left-header .gap-left .font-icons:hover {
    color: #3A4F50;
    text-shadow: 0 0 5px #0EF6CC,
        0 0 25px #0EF6CC,
        0 0 50px #0EF6CC,
        0 0 100px #0EF6CC;
}

.left-header .gap-left img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-header .gap-left p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-header .gap-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-header .gap-right h2 {
    font-size: 32px;
    margin-top: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.left-header .gap-right h2:hover,
.left-header .gap-right p:hover {
    text-shadow: 0 0 5px #0EF6CC,
        0 0 25px #0EF6CC,
        0 0 50px #0EF6CC,
        0 0 100px #0EF6CC;
}


.left-header .gap-right p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

.center-header {
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.center-header .searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #1B2223;
    border-radius: 30px;
    padding: 10px;

    display: flex;
    align-items: center;
    padding: 0 15px;
    width: 100%; 
    max-width: 450px; 
    transition: max-width 0.4s linear; 
}

.center-header .search_input {
    color: #F4FEFD;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.center-header .searchbar:hover>.search_input {
    padding: 0 10px;
    width: 350px;
    caret-color: #F4FEFD;
    transition: width 0.4s linear;
}

.center-header .searchbar:hover>.search_icon {
    background: #F4FEFD;
    color: #0EF6CC;
}

.center-header .search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #0EF6CC;
    text-decoration: none;
}

.right-header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-header p {
    margin-right: 5px;
    font-size: 20px;
}

.right-header i {
    margin-right: 10px;
    margin-left: 10px;
}

.right-header p:hover,
.right-header i:hover {
    text-shadow: 0 0 5px #0EF6CC,
        0 0 25px #0EF6CC,
        0 0 50px #0EF6CC,
        0 0 100px #0EF6CC;
}

.icon-shake:hover {
    animation: shake 0.5s ease infinite;
    cursor: pointer;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(5px);
    }
}

.mobile-nav-bar {
    background-color: #1B2223;
    height: auto;
}

.mobile-nav-bar #mobile-nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
}

.mobile-nav-bar #mobile-nav .mobile-subnav {
    min-width: 160px;
}

.mobile-nav-bar #mobile-nav li {
    display: block;
}

.mobile-nav-bar #mobile-nav li>a {
    color: #F4FEFD;
    text-transform: uppercase;

    text-decoration: none;
    line-height: 50px;
    padding: 0 24px;
    display: block;


}
.mobile-nav-bar #mobile-nav li>a:hover{
    background-color: #F4FEFD;
    color: #3A4F50;
}

.nav-bar {
    background-color: #1B2223;
    height: 50px;
    white-space: nowrap;
}

.nav-bar #nav {
    display: flex;
    justify-content: center;
}

.nav-bar #nav,
.subnav {
    list-style-type: none;
}

.nav-bar #nav>li {
    display: inline-block;
}

.nav-bar #nav li {
    position: relative;
}

.nav-bar #nav>li>a {
    color: #F4FEFD;
    text-transform: uppercase;
    font-weight: 500;
}

.nav-bar #nav li a {
    text-decoration: none;
    line-height: 50px;
    padding: 0 24px;
    display: block;
}

.nav-bar #nav li:hover .subnav {
    display: block;
}

.nav-bar #nav .subnav {
    display: none;
    min-width: 160px;
    top: 100%;
    position: absolute;
    background-color: #1B2223;
}

.nav-bar #nav .subnav a {
    color: #F4FEFD;
    padding: 0 12px;
    line-height: 38px;
}

.nav-bar #nav .nav-arrow-down {
    font-size: 14px;
}

.nav-bar #nav .subnav li:hover a {
    background-color: #F4FEFD;
    color: #3A4F50;
}

.icon-navbar {
    margin-left: 10px;
}

.banner {
    width: 100%;
    background-image: url('https://thanhtu0.github.io/LuuLeThanhTu_Project__FE/assets/img/banner/banner.jpg?fbclid=IwAR21dZiA4SRXdUCCL91e6cH9yLdT5tuu6GhK6FxT9hcqBG14225Aa6Zen38');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding: 0 50px;
    display: flex;
}


.banner .box-left h2 {
    font-size: 48px;
    margin-top: 50px;
    color: #F4FEFD;
}

.banner .box-left p {
    color: #F4FEFD;
    font-size: 20px;
}

.banner .box-left button {
    width: 200px;
    height: 50px;
    margin-left: 75px;
    margin-top: 25px;
    background: #0EF6CC;
    border: none;
    outline: none;
    color: #F4FEFD;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.4s;
}

.banner .box-left button:hover {
    background: #3A4F50;
    cursor: pointer;
}

.banner .box-right img {
    float: right;
    animation: animation 3s infinite linear;
}

.banner .box-right img:nth-child(1) {
    animation-delay: 0.5s;
}

.banner .box-right img:nth-child(2) {
    animation-delay: 1s;
}

@keyframes animation {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.brands {
    background-color: #F4FEFD;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.brands-img {
    text-align: center;
}

.brands-img img {
    cursor: pointer;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.brands-img p {
    color: #1B2223;
    font-size: 20px;
}

.brands>.brands-img:hover {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }
}

.country-products {
    padding: 50px 134px;
}

.country-products h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 76px;
    font-size: 32px;
    color: #1B2223;
    text-shadow: 0 0 100px #1B2223,
        0 0 50px #1B2223,
        0 0 25px #1B2223,
        0 0 0px #1B2223;
}

.country-products h2:hover {
    text-shadow: 0 0 100px #0EF6CC,
        0 0 50px #0EF6CC,
        0 0 25px #0EF6CC,
        0 0 0px #0EF6CC;
}

.country-products .list-products {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.country-products .list-products .item {
    width: 290px;
    height: 399px;
    background: #1B2223;
    border-radius: 10px;
    margin-bottom: 50px;
}

.country-products .list-products .item img {
    display: block;
    width: 290px;
    height: 300px;
    margin: 0px auto;
}

.country-products .list-products .item .name {
    text-align: center;
    color: #F4FEFD;
    font-weight: bold;
    margin-top: 5px;
}

.country-products .list-products .item .price {
    text-align: center;
    font-weight: bold;
    color: #F4FEFD;
    margin-top: 5px;
}

.country-products .list-products .item .price del {
    margin-right: 10px;
}

.country-products .list-products .item .btn-buy {
    width: 290px;
    height: 40px;
    background: #0EF6CC;
    margin-top: 13px;
    border: none;
    outline: none;
    color: #F4FEFD;
    font-weight: bold;
    transition: 0.4s;
    cursor: pointer;
}

.country-products .list-products .item .btn-buy:hover {
    background-color: #3A4F50;
}

.club-products {
    padding: 50px 134px;
}

.club-products h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 76px;
    font-size: 32px;
    color: #1B2223;
    text-shadow: 0 0 100px #1B2223,
        0 0 50px #1B2223,
        0 0 25px #1B2223,
        0 0 0px #1B2223;
}

.club-products h2:hover {
    text-shadow: 0 0 100px #0EF6CC,
        0 0 50px #0EF6CC,
        0 0 25px #0EF6CC,
        0 0 0px #0EF6CC;
}

.club-products .list-products {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.club-products .list-products .item {
    width: 290px;
    height: 399px;
    background: #1B2223;
    border-radius: 10px;
    margin-bottom: 50px;
}

.club-products .list-products .item img {
    display: block;
    width: 290px;
    height: 300px;
    margin: 0px auto;
}

.club-products .list-products .item .name {
    text-align: center;
    color: #F4FEFD;
    font-weight: bold;
    margin-top: 5px;
}

.club-products .list-products .item .price {
    text-align: center;
    font-weight: bold;
    color: #F4FEFD;
    margin-top: 5px;
}

.club-products .list-products .item .price del {
    margin-right: 10px;
}

.club-products .list-products .item .btn-buy {
    width: 290px;
    height: 40px;
    background: #0EF6CC;
    margin-top: 13px;
    border: none;
    outline: none;
    color: #F4FEFD;
    font-weight: bold;
    transition: 0.4s;
    cursor: pointer;
}

.club-products .list-products .item .btn-buy:hover {
    background-color: #3A4F50;
}

.basketball-products {
    padding: 50px 134px;
}

.basketball-products h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 76px;
    font-size: 32px;
    color: #1B2223;
    text-shadow: 0 0 100px #1B2223,
        0 0 50px #1B2223,
        0 0 25px #1B2223,
        0 0 0px #1B2223;
}

.basketball-products h2:hover {
    text-shadow: 0 0 100px #0EF6CC,
        0 0 50px #0EF6CC,
        0 0 25px #0EF6CC,
        0 0 0px #0EF6CC;
}

.basketball-products .list-products {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.basketball-products .list-products .item {
    width: 290px;
    height: 399px;
    background: #1B2223;
    border-radius: 10px;
    margin-bottom: 50px;
}

.basketball-products .list-products .item img {
    display: block;
    width: 290px;
    height: 300px;
    margin: 0px auto;
}

.basketball-products .list-products .item .name {
    text-align: center;
    color: #F4FEFD;
    font-weight: bold;
    margin-top: 5px;
}

.basketball-products .list-products .item .price {
    text-align: center;
    font-weight: bold;
    color: #F4FEFD;
    margin-top: 5px;
}

.basketball-products .list-products .item .price del {
    margin-right: 10px;
}

.basketball-products .list-products .item .btn-buy {
    width: 290px;
    height: 40px;
    background: #0EF6CC;
    margin-top: 13px;
    border: none;
    outline: none;
    color: #F4FEFD;
    font-weight: bold;
    transition: 0.4s;
    cursor: pointer;
}

.basketball-products .list-products .item .btn-buy:hover {
    background-color: #3A4F50;
}

.soccer-accessories-products {
    padding: 50px 134px;
}

.soccer-accessories-products h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 76px;
    font-size: 32px;
    color: #1B2223;
    text-shadow: 0 0 100px #1B2223,
        0 0 50px #1B2223,
        0 0 25px #1B2223,
        0 0 0px #1B2223;
}

.soccer-accessories-products h2:hover {
    text-shadow: 0 0 100px #0EF6CC,
        0 0 50px #0EF6CC,
        0 0 25px #0EF6CC,
        0 0 0px #0EF6CC;
}

.soccer-accessories-products h3 {
    text-align: center;
    text-transform: initial;
    margin-bottom: 10px;
    font-size: 24px;
    color: #1B2223;
}

.soccer-accessories-products .list-products {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.soccer-accessories-products .list-products .item {
    width: 290px;
    height: 399px;
    background: #1B2223;
    border-radius: 10px;
    margin-bottom: 50px;
}

.soccer-accessories-products .list-products .item img {
    display: block;
    width: 290px;
    height: 300px;
    margin: 0px auto;
}

.soccer-accessories-products .list-products .item .name {
    text-align: center;
    color: #F4FEFD;
    font-weight: bold;
    margin-top: 5px;
}

.soccer-accessories-products .list-products .item .price {
    text-align: center;
    font-weight: bold;
    color: #F4FEFD;
    margin-top: 5px;
}

.soccer-accessories-products .list-products .item .price del {
    margin-right: 10px;
}

.soccer-accessories-products .list-products .item .btn-buy {
    width: 290px;
    height: 40px;
    background: #0EF6CC;
    margin-top: 13px;
    border: none;
    outline: none;
    color: #F4FEFD;
    font-weight: bold;
    transition: 0.4s;
    cursor: pointer;
}

.soccer-accessories-products .list-products .item .btn-buy:hover {
    background-color: #3A4F50;
}

.information {
    padding: 50px 134px;
}

.content-section {
    padding: 40px;
    background-color: #F4FEFD;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section-heading {
    font-size: 48px;
    text-align: center;
    margin-bottom: 5px;
}
.section-heading:hover {
    text-shadow: 0 0 100px #3A4F50,
        0 0 50px #3A4F50,
        0 0 25px #3A4F50,
        0 0 0px #3A4F50;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col {
    flex: 1;
    padding: 0 15px;
}

.col-half {
    width: 50%;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 14px;
}

.form-submit-btn {
    background-color: #0EF6CC;
    float: right;
    color: #F4FEFD;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}

.form-submit-btn:hover {
    background-color: #3A4F50;
}

.contact-form h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.app-footer {
    width: 100%;
    background: #1B2223;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.app-footer .footer-box {
    width: 300px;
    color: #F4FEFD;
}

.app-footer .footer-box .information-name {
    margin-bottom: 10px;
}

.app-footer .footer-box .information-name span {
    margin-bottom: 10px;
    color: #0EF6CC;
}

.app-footer .footer-box .information-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
}

.app-footer .footer-box .quick-menu {
    margin-top: 25px;
    padding-left: 0;
}

.app-footer .footer-box .quick-menu .item {
    margin-bottom: 12px;
}

.app-footer .footer-box .quick-menu,
.item p {
    color: #F4FEFD;
    text-align: justify;
    text-decoration: none;
}

.app-footer .footer-box .information-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-footer .footer-box .information-icons a {
    color: #F4FEFD;
}

.app-footer .footer-box .information-icons .fa-brands {
    font-size: 25px;
    width: 50px;
    text-align: center;
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    background-color: #1B2223;
    box-shadow: 0 0 10px 1px;
    transition: .5s;
}

.icon1:hover {
    color: #0051ff;
}

.icon2:hover {
    color: #80c8ff;
}

.icon3:hover {
    color: #db0cc3;
}

.icon4:hover {
    color: #ff0808;
}

.cart-icon {
    position: fixed;
    right: 1.5%;
    bottom: 2.5%;
    top: 90%;
    background-color: #0EF6CC;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 18px;
    color: #F4FEFD;
}

.cart-count {
    margin-left: 5px;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}

.shake {
    animation: shake 0.5s;
}

#cartForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F4FEFD;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 45%;
    max-height: 75%;
    overflow: auto;
    max-width: 90%;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    cursor: pointer;
    font-size: 24px;
}


#cartForm h2 {
    margin-top: 0;
    text-align: center;
}

#cartItems {
    list-style: none;
    padding: 0;
}

#cartItems li {
    margin-bottom: 8px;
}

#cartForm h3 {
    margin-top: 20px;
    text-align: center;
}

#cartForm label {
    display: block;
    margin-bottom: 5px;
}

#name,
#phoneNumber,
#address {
    width: 100%;
    padding: 8px;
    border: 1px solid #3A4F50;
    border-radius: 5px;
    margin-bottom: 10px;
}

#cartForm button {
    background-color: #0EF6CC;
    font-size: 24px;
    color: #F4FEFD;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

#cartForm button:hover {
    opacity: 0.5;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: #F4FEFD;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    width: 400px;
    max-height: 80%;
    overflow: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal .modal-content .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    color: #F4FEFD;
    background-color: #0EF6CC;
    transition: color 0.3s ease; 
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}